<head>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../skeleton.css">

</head>

<h5>Update Memory '<%= @memory.album %>':</h5>

<form action="/memories/update" method="post">
    <input type="hidden" name="id" value="<%= @memory.id %>">
    Album: <input type="text" name="memory[album]" value="<%= @memory.album %>">
    <br>
    Artist: <input type="text" name="memory[artist]" value="<%= @memory.artist %>">
    <br>
    When: <input type="text" name="memory[year]" value="<%= @memory.year %>">
    <br>
    Where: <input type="text" name="memory[setting]" value="<%= @memory.setting %>">
    <br>
    Song: <input type="text" name="memory[specific_song]" value="<%= @memory.specific_song %>">
    <br>
    People: <input type="text" name="memory[who]" value="<%= @memory.who %>">
    <br>
    Recollections:
    <br>
    <input type="text" name="memory[notes]" value="<%= @memory.notes %>" id='blobbox'>
    <br>
    <input type="submit">
</form>

<p>
  <a href="/memories">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
